
/*
@font-face {
  font-family: 'Oldenburg';
  font-style: normal;
  font-weight: 400;
  src: local('Oldenburg'), local('Oldenburg-Regular'), url('http://themes.googleusercontent.com/static/fonts/oldenburg/v1/CRS5ubi7Czjub7bFdKPY-bO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
}
*/

@font-face {
  font-family: 'monaco';
  font-style: monospace;
  src: local('/fonts/MONACO.TTF');
}

/* ===============================
 * body
 * =============================== */ 
body {
  margin: 30px 0 20px 60px;
  font-family: Palatino, georgia, "times new roman", serif;
}

h1 {
  margin-bottom: 14px;
}

h2 {
  margin: 30px 0 10px 0;
  font-size: 18px;
}

body a {
  font-size: 13px;
  font-family: 'monaco', monospace;
  text-decoration: none;
  border-bottom: 1px dotted;
}

body a:hover {
  border-bottom: 1px solid;
}


/* 
 * paragraphs outside of lists.
 */
#resume > p {
  margin-left: 20px;
}

#header {
  position: relative;
  height: 30px;
}

#header div {
  float: left;
  margin-right: 10px;
}

#header div.sep {
}

#resume {
  width: 700px;
  margin-bottom: 80px;
  line-height: 120%;
}

/* ===============================
 * list stuff
 * =============================== */ 


ul li {
  margin-top: 6px;
}
 
