@font-face {
  font-family: 'monaco';
  font-style: monospace;
  src: local('/fonts/MONACO.TTF');
}

body {
  margin: 30px 0 20px 60px;
  font-family: Palatino, georgia, "times new roman", serif;
  font-size: 12px;
}

ul {
  padding-left: 25px;
}

@media print {
  body {
    margin: 10px 0 10px 10px;
  }
}

h1 {
  margin-bottom: 14px;
}

h2 {
  margin: 20px 0 10px 0;
  font-size: 14px;
}

body a {
  font-family: 'monaco', monospace;
  font-size: 12px;
  text-decoration: none;
  border-bottom: 1px dotted;
}

body a:hover {
  border-bottom: 1px solid;
}


#resume > p {
  margin-left: 20px;
}

#header {
  position: relative;
  height: 30px;
}

#header div {
  float: left;
  margin-right: 10px;
}

#header div.sep {
}

#resume {
  width: 700px;
  margin-bottom: 80px;
  line-height: 120%;
}

@media print {
  #resume {
    width: 100%;
  }
}

ul li {
  margin-top: 6px;
}
