@font-face {
   font-family: "MOD";
   src: url("/fonts/MOD.otf"); 
}

@font-face {
   font-family: "VAL";
   src: url("/fonts/VAL.otf"); 
}

@font-face {
  font-family: "pincoyablack";
  src: url("/fonts/pincoyablack.otf");
}

@font-face {
  font-family: "betlog";
  src: url("/fonts/betlog.ttf");
}
.site {
  font-size: 110%;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 150%;
  padding-left: 1em;
  padding-right: 1em;
  font-family: Palatino, georgia, "times new roman", serif;

  a {
    color: #444;
  }

  a:hover {
    /*text-decoration: none;*/
    color: #336343;
  }

  ul {
    list-style-type: circle;
  }

  pre {
    line-height: normal;
    margin-left: 2em;
    margin-right: 1em;
    padding: 1em;
    border: solid 1px #303030;
  }

  h1 {
    font-size: 200%;
    line-height: 110%;
    font-weight: bold;
    color: #555;
  }

  #home {
    #desc {
      margin-bottom: 3em;
    }
  }

  #post-body {
    padding-left: 1em;
  }

  #back {
    font-size: 250%;
    color: #AAA;
    margin-bottom: -0.5em;
    margin-top: 1em;
  }

  .title {
    a {
      text-decoration: none;
      color: #333;
    }
    font-size: 400%;
    font-family: "VAL";

    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  .footer {
    font-size: 80%;
    color: #444;
    border-top: 1px solid #888;
    margin-top: 4em;
    padding-top: 0.5em;

    a {
      color: #666;
    }
  }

  ul.posts {
    list-style-type: none;
    
    a {
      /* color: #57B256; */
      color: 0;
    }

    .date {
      font-family: Monaco, "Courier New", Monospace;
      margin-right: 20px;
      font-size: 80%;
      color: #8F4848;
      font-weight: normal;
    }
  }

  .footer .contact {
    float: left;
    margin-right: 3em;
  }
    
}

