/*
@font-face {
   font-family: "MOD";
   src: url("/fonts/MOD.otf"); 
}

@font-face {
  font-family: "pincoyablack";
  src: url("/fonts/pincoyablack.otf");
}

@font-face {
  font-family: "betlog";
  src: url("/fonts/betlog.ttf");
}

@font-face {
  font-family: "artifika";
  src: url("/fonts/artifika.ttf");
}

@font-face {
  font-family: "permanentmarker";
  src: url("/fonts/PermanentMarker.ttf");
}
*/

@font-face {
   font-family: "VAL";
   src: url("/fonts/VAL.otf"); 
}

@font-face {
  font-family: "permanentmarker";
  src: url("/fonts/PermanentMarker.ttf");
}
        
@dropshadow_color: #aaa;
@link-color: #C17530; 
@link-hover-color:#336343;   

@standout-color: #eaeaea;

@cream: #fffbe8;
 
/* ===============================
 * mixins
 * =============================== */ 
.nice-border {
  padding: 5px;
  border: 1px solid #888;
  -moz-box-shadow: 3px 3px 5px @dropshadow_color;
  -webkit-box-shadow: 3px 3px 5px @dropshadow_color;
  box-shadow: 3px 3px 5px @dropshadow_color;
}


/* ===============================
 * Utility classes
 * =============================== */ 
.centered {
  width: 760px;
  margin: 0 auto;
}

// same purpose as clearfix
.expand-to-fit {
}

.standout {
  background-color: @standout-color;
  -moz-box-shadow: 0px 3px 6px #ccc;
  -webkit-box-shadow: 0px 3px 6px #ccc;
  box-shadow: 0px 3px 6px #ccc;
}

.inside-standout {
  padding: 20px 0 20px 0;
}
                  
/* ===============================
 * body
 * =============================== */ 
body {
  margin: 30px 0 20px 0;
}

.site {

  /* ===============================
   * Site-wide formatting
   * =============================== */
  sup {
    height: 0;
    line-height: 1;
  }

  font-size: 100%;
  line-height: 150%;
  font-family: Palatino, georgia, "times new roman", serif;

  a {
    color: @link-color;
  }

  a:hover {
    /*text-decoration: none;*/
    color: @link-hover-color;
  }

  ul {
    list-style-type: circle;
  }
  
  code {
    border: solid 1px #CCC;
    background-color: #FFFAEE;
    padding: 1px;
  }
   
  pre {
    line-height: 120%;
    margin-right: 1em;
    margin-left: 2em;
    padding: 1em;
    border: solid 1px #303030;
    background-color: white;
  }

  pre code {
    border: none;
    background-color: inherit;
    padding: 0;
  }

  #front-header, #small-header {
    #title {
      @outline-color: #555;
      a {
        text-decoration: none;
        color: @cream;
        text-shadow: -1px -1px 0px @outline-color, 
                     1px 1px 0 @outline-color,
                     -1px 1px 0 @outline-color,
                     1px -1px 0 @outline-color;
      }
      font-size: 60px;
      font-family: "VAL";

      margin-top: 40px;
      margin-bottom: 20px;
    }
  }

  #small-header {
    height: 100px;

    #title {
      float: left;
    }

    ul {
      display: block;
      float: right;
      margin-top: 35px;
      margin-right: 80px;
    }

    ul li {
      display: inline;
      margin-right: 20px;
      padding: 5px 10px 5px 10px;
      background: #EEE;
      border: 1px #AAA solid;

      a {
        text-decoration: none;
      }
    }
  }

  #front-header {
    
    height: 280px;

    .nav {
      float: left;
      position: relative;
      bottom: 0;
      height: 100%;
      margin-left: 25px;
      
      ul {
        list-style-type: none;
        font-size: 35px;
        display: block;
        float: left;
        padding: 0;
        margin: 0;

        li {
          padding: 10px 0 10px 0;
        }

        a {
          color: #CCC; 
          text-decoration: none;
        }

        a:hover {
          color: #888;   
        }
      }
    }

    @pic-height: 200px;
    .picture {
      float: left;
      height: 280px;
      width: @pic-height + 10px;
      margin-right: 20px;

      img {
        width: @pic-height;
        display: block;
        .nice-border;
      }
    }
  }

  #desc {
    margin-bottom: 3em;
  }

  margin-bottom: 4em;

  #links {
    margin-top: 4em;
  }

  h2 {
    color: #888;
  }

  /* ===============================
   * Blog posts
   * =============================== */
  #post-title {
    margin-top: 0;
    margin-bottom: 10px;

    h1 {
      font-size: 200%;
      line-height: 110%;
      font-weight: bold;
      color: #555;
      margin-bottom: 0px;
    }
    
    .post-date {
      font-family: Monaco, "Courier New", Monospace;
      color: #8F4848;
      font-size: 80%;
      font-weight: normal;
      margin-top: -0.5em;
    }
  }

  #abstract {

    .abstract-opening {
      text-transform: uppercase;
      font-family: artifika;
      font-weight: bold;
      font-size: 12px;
      margin-right: 20px;
      color: #666;
    }

  }

  #post-body {

    h2 {
      margin-top: 2em;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;

      border: 1px solid #555;
    }

    padding-left: 1em;
    margin-bottom: 4em;
  }

  #back {
    font-size: 200%;
    color: #AAA;
    margin-top: 1em;
    margin-bottom: 1em;
  }
 
  ul.posts {
    list-style-type: none;
    margin-bottom: 45px;
    
    a {
      /* color: #57B256; */
      color: 0;
    }

    .date {
      font-family: Monaco, "Courier New", Monospace;
      margin-right: 20px;
      font-size: 80%;
      color: #8F4848;
      font-weight: normal;
    }
  }    
  
  .footer {
    font-size: 80%;
    color: #444;
    border-top: 1px solid #888;
    padding-top: 0.5em;
    
    margin-top: 50px;
    margin-bottom: 8em;

    a {
      color: #666;
    }
                
  /* ===============================
   * Image formatting
   * =============================== */
    .picture {
      margin-top: 0.5em;
      line-height: 0px;
      float: left;
      margin-right: 0.5em;
      .nice-border;

      margin-bottom: 2em; /* lowest element on page */
    }
  }

  
  /* ===============================
   * Social media buttons
   * =============================== */ 
  #social-media-buttons {
    float: right;
    height: 60px;
    width: 230px;
    ul {
      float: left;
      margin: 10px 0 10px 0;
      padding: 0;
    }
    ul li {
      display: inline;
    }

    a img {
      opacity: 0.5;
    }

    a:hover img {
      opacity: 1;
    }
  }

  .footer {

    #footer-images {
      float: right;
    }

    .contact {
      float: left;
      margin-right: 3em;
    }
  }

  .footnotes {
    font-size: 80%;
    line-height: normal;
  }
   
}

