---
layout: base
title: James O'Beirne
---

{% include header.html %}

<div class="centered clearfix">
  <div id="showboxes">
    <div class="left">
      <div id="likes" class="box">
        <div class="title">likes</div>
        <ul>
          <li>lofty zen crud</li>
          <li>eating like a caveman</li>
          <li>detective novels</li>
        </ul>
      </div>
           
      <div id="ideas" class="box">
        <div class="title">favorite ideas</div>
        <ul>
          <li><a href="http://arxiv.org/abs/1510.02037">bitcoin-ng</a></li>
          <li><a href="https://www.youtube.com/watch?v=BWsAQsydzR4">brogramming</a></li>
          <li><a
            href="http://en.wikipedia.org/wiki/Non-aggression_principle">non-aggression
            principle</a></li>
        </ul>
      </div>
   
    </div>
                        
    <div class="right">
      <div id="projects" class="box">
        <div class="title">fun &amp; profit</div>
        <ul>
          <li><a href="/quotes">quotes</a></li>
          <li><a href="https://www.goodreads.com/user/show/16430645-jamesob">books</a></li>
          <li><a href="http://niteschool.co/">niteschool</a></li>
          <li><a href="http://soundcloud.com/jamesob">dj, kid</a></li>
          <li><a href="http://ahadventure.us">DC &rarr; SF bike trip</a></li>
        </ul>
      </div>
  
      <div id="livin" class="box">
        <div class="title">livin</div>
        <ul>
          <li>pacifica, ca</li>
        </ul>
      </div>
       
    </div>
  </div>
</div>

<div class="centered">
    <ul class="posts">
    {% for post in site.posts %}
      <li><span class="date">{{ post.date | date_to_string }}</span>
      <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
</div>


