---
layout: base
title: James O'Beirne
---

{% include header.html %}

<div class="centered clearfix">
  <div id="showboxes">
    <div class="left">
      <div id="likes" class="box">
        <div class="title">likes</div>
        <ul>
          <li>lofty zen crud</li>
          <li>eating like a caveman</li>
          <li>detective novels</li>
        </ul>
      </div>

      <div id="ideas" class="box">
        <div class="title">favorite ideas</div>
        <ul>
          <li><a href="https://bitcoin.org">bitcoin</a></li>
          <li><a
            href="http://en.wikipedia.org/wiki/Non-aggression_principle">non-aggression
            principle</a></li>
        </ul>
      </div>

    </div>

    <div class="right">
      <div id="projects" class="box">
        <div class="title">fun &amp; profit</div>
        <ul>
          <li><a href="https://jamesob.tumblr.com/">tumblr</a></li>
          <li><a href="/consumption">consumption log</a></li>
          <li><a href="/quotes">quotes</a></li>
          <li><a href="https://www.goodreads.com/user/show/16430645-jamesob">books</a></li>
          <li><a href="http://jameso.be/niteschool/">niteschool</a></li>
          <li><a href="http://soundcloud.com/jamesob">records</a></li>
          <li><a href="http://ahadventure.us">DC &rarr; SF bike trip</a></li>
        </ul>
      </div>

      <!--
      <div id="ideas" class="box">
        <div class="title">inspired by</div>
        <ul>
          <li><a href="http://halhartley.com">Hal Hartley</a></li>
          <li><a href="https://junegunn.kr">Junegunn Choi</a></li>
          <li><a href="http://slatestarcodex.com/">Scott Alexander</a></li>
          <li><a href="http://krondo.com/">Dave Peticolas</a></li>
          <li><a href="http://unenumerated.blogspot.com/">Nick Szabo</a></li>
        </ul>
      </div>
      -->

    </div>
  </div>
</div>

<div class="centered">
    <ul class="posts">
    {% for post in site.posts %}
      <li><span class="date">{{ post.date | date_to_string }}</span>
      <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
</div>
