
<div class="footer prefix_2 grid_9 suffix_1">
  <div class="contact">
    <p>
    James O'Beirne<br />
    james.obeirne at gmail
    </p>
  </div>

  <div class="contact">
    <p>
      <a href="http://github.com/jamesob/">github.com/jamesob</a><br />
      <a href="http://twitter.com/#!/jamesob">twitter.com/#!/jamesob</a>
    </p>
  </div>

  <div class="picture">
    <img src="/images/scaled/flowers.jpg" />
  </div>

  <div class="picture">
    <img src="/images/scaled/theDonAndI-me.jpg" />
  </div>
  
  <div class="picture">
    <img src="/images/scaled/trains.jpg" />
  </div>

</div>           
