
<div class="footer prefix_2 grid_9 suffix_1">
  <div class="contact">
    <p>
    James O'Beirne<br />
    james.obeirne at gmail
    </p>
  </div>

  {% include social-media.html %}

  <!-- 
  <div id="footer-images">
    <div class="picture">
      <img src="/images/scaled/flowers.jpg" />
    </div>

    <div class="picture">
      <img src="/images/scaled/theDonAndI-me.jpg" />
    </div>
    
    <div class="picture">
      <img src="/images/scaled/trains.jpg" />
    </div>
  </div>
  -->

</div>           
