<!DOCTYPE html>

<head>
  <title>{{ page.title }}</title>
  <meta name="author" content="James O'Beirne" />
 
  <link rel="stylesheet/less" href="/css/site.less" type="text/css" />
  <script src="/js/less-1.0.40.js" type="text/javascript"></script>

  <link rel="stylesheet" type="text/css" href="/css/syntax-trac.css" />
   
</head>

<body>

  <div class="site">
    <div class="title">
      <a href="/">jamesob</a>
    </div>

    {{ content }}

    <div class="footer">
      <div class="contact">
        <p>
        James O'Beirne<br />
        james.obeirne at gmail
        </p>
      </div>

      <div class="contact">
        <p>
          <a href="http://github.com/jamesob/">github.com/jamesob</a><br />
          <a href="http://twitter.com/#!/jamesob">twitter.com/#!/jamesob</a>
        </p>
      </div>

      <div class="picture">
        <img src="/images/scaled/flowers.jpg" />
      </div>

      <div class="picture">
        <img src="/images/scaled/theDonAndI-me.jpg" />
      </div>
      
      <div class="picture">
        <img src="/images/scaled/trains.jpg" />
      </div>

    </div>
  </div>

</body>
</html>

