<!DOCTYPE html>

<head>
  <title>{{ page.title }}</title>
  <meta name="author" content="James O'Beirne" />

  {% include css.html %}
 
</head>

<body>
  <div class="site">

    <div id="front-header" class="centered expand-to-fit">

      <div class="picture expand-to-fit">
        <img class="nice-border" src="/images/me_cowboyhat.jpg" />
      </div>

      <div class="nav expand-to-fit">
        <div id="title"><a href="/">jamesob</a></div>
        <ul>
          <li><a href="/projects">projects</a></li>
          <li><a href="/about">about</a></li>
          <li><a href="/code">code</a></li>
        </ul>
      </div>

    </div>

    {{ content }}

    <div class="centered">
      {% include footer.html %}
    </div>

  </div>
</body>
</html>

