<!DOCTYPE html>

<head>
  <title>{{ page.title }}</title>
  <meta name="author" content="James O'Beirne" http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">

  {% if page.meta_image %}
  <!-- Search Engine -->
  <meta name="image" content="{{ site.url }}{{ page.meta_image }}">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="jamesob">
  <meta itemprop="image" content="{{ site.url }}{{ page.meta_image }}">
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="{{ page.title }}">
  <meta name="og:image" content="{{ site.url }}{{ page.meta_image }}">
  <meta name="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="{{ page.summary }}" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:site" content="@jamesob" />
  <meta name="twitter:image" content="{{ site.url }}{{ page.meta_image }}" />
  <meta name="twitter:creator" content="@jamesob" />
  {% endif %}

  {% feed_meta %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2047819-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-2047819-2');
  </script>

  {% include css.html %}
 
</head>

<body>
  <div class="site">

    {{ content }}

    <div class="centered">
      {% include footer.html %}
    </div>

  </div>
</body>
</html>
