<!DOCTYPE html>

<head>
  <title>{{ page.title }}</title>
  <meta name="author" content="James O'Beirne" />
  <link rel="stylesheet" href="/css/res.css" type="text/css" />
</head>

<body>
  <div id="resume">

    <h1>James O'Beirne</h1>

    <div id="header">
      <div><a href="mailto:james.obeirne@gmail.com">james.obeirne@gmail</a></div>
      <div class="sep">/</div>
      <div><a href="https://twitter.com/#!/jamesob">@jamesob</a></div>
      <div class="sep">/</div>
      <div><a href="http://jameso.be">jameso.be</a></div>
      <div class="sep">/</div>
      <div><a href="https://github.com/jamesob">github</a></div>
      <div class="sep">/</div>
      <div><a href="http://www.linkedin.com/pub/james-o-beirne/42/a7a/9a1">linkedin</a></div>
    </div>

    {{ content }}

  </div>
</body>
</html>

