<!DOCTYPE html>

<head>
  <title>{{ page.title }}</title>
  <meta name="author" content="James O'Beirne" http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="/css/res.css" type="text/css" />
</head>

<body>
  <div id="resume">

    <h1>James O'Beirne</h1>

    <div id="header">
      <div><a href="mailto:w.resume@au92.org">w.resume@au92</a></div>
      <div class="sep">/</div>
      <div><a href="http://jameso.be">jameso.be</a></div>
      <div class="sep">/</div>
      <div><a href="https://github.com/jamesob">github</a></div>
      <div class="sep">/</div>
    </div>

    {{ content }}

  </div>
</body>
</html>

